@using StoreManagement.BL.Domain
@model StoreManagement.BL.Domain.Store

@{
    ViewBag.Title = Model.Name;
    Layout = "_Layout";
}

<h2>Store Details</h2>
<dl>
    <dt>@nameof(Store.Name)</dt>
    <dd>@Model.Name</dd>
    <dt>@nameof(Store.Address)</dt>
    <dd>@Model.Address </dd>
    <dt>@nameof(Store.OpeningHour)</dt>
    <dd>@Model.OpeningHour</dd>
</dl>

<div id="relatedData"></div>
<div id="Id" hidden="hidden">@Model.Id</div>
<!-- Add new record form -->
<form id="addRecordForm">
    <!-- Input fields for the junction entity -->
    <input type="text" id="junctionField1" placeholder="Field 1">
    <input type="text" id="junctionField2" placeholder="Field 2">

    <!-- Select-box for available records -->
    <select id="availableRecords"></select>

    <!-- Add button -->
    <button type="button" id="addButton">Add</button>
</form>

@section Scripts {
    <script src="/js/store/details.js" defer></script>
}