@using StoreManagement.BL.Domain
@model StoreManagement.BL.Domain.Store

@{
    ViewBag.Title = Model.Name;
    Layout = "_Layout";
}

<h1>Store Details</h1>
<dl>
    <dt>@nameof(Store.Name)</dt>
    <dd>@Model.Name</dd>
    <dt>@nameof(Store.Address)</dt>
    <dd>@Model.Address </dd>
    <dt>@nameof(Store.OpeningHour)</dt>
    <dd>@Model.OpeningHour</dd>
</dl>
<h2>Games</h2>
<div id="relatedData" class="table"></div>
<div id="Id" hidden="hidden">@Model.Id</div>
<h3>Add Game</h3>
<form id="addRecordForm" method="post">
    <select id="gameSelect"></select>
    <button type="button" class="btn btn-primary" id="addButton">Add game to store</button>
</form>

@section Scripts {
    <script src="/js/store/details.js" defer></script>
}