@using StoreManagement.BL.Domain
@model StoreManagement.BL.Domain.Game


@{
    ViewBag.Title = "Details";
    Layout = "_Layout";
}

<h2>Game Details</h2>

<dl>
    <dt>@nameof(Game.Name)</dt>
    <dd>@Model.Name</dd>
    <dt>@nameof(Game.Price)</dt>
    <dd>@(Model.Price.HasValue ? "$"+Model.Price : "unknown") </dd>
    <dt>@nameof(Game.Genre)</dt>
    <dd>@Model.Genre</dd>
    <dt>@nameof(Game.YearReleased)</dt>
    <dd>@Model.YearReleased</dd>
    <dt>@nameof(Game.Rating)</dt>
    <dd>@Model.Rating</dd>
    
</dl>

<h2>Stores</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>OpeningHour</th>
        <th>Sales</th>
        <th>Details</th>
    </tr>
    @foreach (GameStore store in Model.Store)
    {
        <tr>
            <td>@store.Store.Name</td>
            <td>@store.Store.Address</td>
            <td>@store.Store.OpeningHour</td>
            <td>@store.Sales</td>
            <td><a asp-controller="Store" asp-action="Details" asp-route-storeId="@store.Store.Id">Details</a></td>
        </tr>
    }
</table>